   
#closePage {
    float: right;
    font-size: 30px;
    margin-top: 0;
    margin-right: 2px;
    display: flex;
    flex:5%;
}

.projectContainer {
    border-style: solid;
    border-color: rgb(5, 5, 56);
    max-width: 1200px;
    margin: auto;
    box-shadow: 10px 10px 8px 10px #888888;
    padding: 20px;
    background-color: rgb(116, 175, 175);

}

.projectHeader {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.title {
    flex:60%
}

.subtitle {
    flex:45%;
    margin-top: 85px;
    font-size: 40px;
    color: #191970;
    margin-left: 20px;
}

h1 {
    font-size: 70px;
    color: darkcyan;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #191970;
    font-family: 'Shrikhand', cursive;
    margin-bottom: 2px;
    
}


@media (max-width: 700px) {
    .flex-container {
      flex-direction: column;
    }
}

.projectDetails {
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
}

.ffaGif {
    height:auto;
    max-width:100%;
    border:solid;
    border-width: 15px;
    border-color:  #191970;
    border-radius: 10px;
    flex: 1;
    padding: 5px;
}

.projectDescHeader {
    font-size: 20px;
    color: #191970;
    flex: 1;
    padding: 20px;
 
}
@media (max-width: 750px) {
  .flex-container {
    flex-direction: column;
  }
}

/* Styling links to github and Linkedin */
.project_links {
    align-items: center;
    text-transform: uppercase;
    color: white;

}

#externalLink {
    color: white;
    text-decoration: none;
}

#fa-icon {
    font-size: 20px;
    
}

.btn {
    width: 155px;
    height: 40px;
    background: rgba(1, 1, 2, 0.2);
    border-radius: 10px;
    color: white;
    display: inline-block;
    vertical-align: bottom;
  
}

.btn:hover {
  color:rgb(25, 228, 228);
  cursor: pointer;
  border-color: white;
}

