#closePage {
    float: right;
    font-size: 30px;
    margin-top: 0;
    margin-right: 2px;
}

.projectContainer {
    /* padding: 100px 100px 100px 100px; */
    border-style: solid;
    border-color: rgb(5, 5, 56);
    max-width: 1200px;
    margin: auto;
    box-shadow: 10px 10px 8px 10px #888888;
    padding: 20px;
    background-color: rgb(116, 175, 175);
}

h1 {
    font-size: 70px;
    color: darkcyan;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #191970;
    font-family: 'Shrikhand', cursive;
    padding-bottom: 2px;
    text-align: left;
    float: left;
}

h2 {
    font-size: 40px;
    color: #191970;
    text-align: right;
    float: right;
    margin-top: 70px;
    margin-right: 165px;
}

.ffaGif {
    height:auto;
    max-width:100%;
    border:solid;
    border-width: 15px;
    border-color:  #191970;
}

.projectDescHeader {
    float:right;
    margin-right: 90px;
    font-size: 20px;
    color: #191970;
 
}

.aboutProject {
    float:right;
    margin-right: 90px;

}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}