
#closePage {
    float: left;
    font-size: 30px;
    margin-top: 2px;
    z-index: 9999;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: pink;
    border-style: solid;
    border-color: rgb(2, 2, 56);
    max-width: 1200px;
    margin: auto;
    box-shadow: 10px 10px 8px 10px #888888;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
}

.projectHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;

}

h1 {
    font-size: 80px;
    color: darkcyan;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #191970;
    font-family: 'Shrikhand', cursive;
    margin-top: 0; 
    margin-block-end: 5px;
   padding-left: 50px;

}

.subtitle {
    padding-top: 20px;
    font-size: 40px;
    color: #191970;
    margin-block-start: 5px;
}

.sidebtn {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    right: 60px;
    width: 60px;
    border-radius: 20px;
    background:	rgb(0, 57, 104);
    box-shadow:  1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 14px;
    z-index: 0;
    padding: 10px;
}

#externalLink {
    color: rgb(193, 226, 226);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    padding: 7px;
}

#externalLink:hover {
    color:rgb(25, 228, 228);
    cursor: pointer;
  }

#fa-icon {
    font-size: 20px;