* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
    background: rgba(106, 179, 188, 0.8);
    color:rgb(11, 49, 54);
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;

}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;

}

.navLink {
    color: rgb(29, 26, 202);
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100px;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease;
}

.navLink:hover {
    color:rgb(25, 228, 228);
    
}

.navbar_container {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

@media screen and (max-width:960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    
/* Dropdown Nav Menu Styling */
    .navbar_menu.active {
        background: rgb(9, 9, 126);
        top: 100%;
        line-height: 1px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
        padding: 1px;

    }

    

    .navbar_toggle .bar {
        width: 28px;
        height:3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(74, 19, 175);
    }

    .navbar_item {
        width: 100%;
    }

    .navLink {
        text-align: center;
        padding: 1px;
        width: 100%;
        display: table;
      
        }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(7px, 5px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(7px, -3px) rotate(-45deg);
    }
}


.logo {
    display: flex;
    height: 85px;
    width: 80px;
    padding-left: -50px;

}

.hero_section {
  padding: 0 60px;
  color: white;
  background: cornflowerblue;
  background-image: url("images/background.png");
  background-size: 1400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 820px;
}


.column_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.column_left h1 {
  font-size: 90px;
  color: rgb(18, 91, 175);
  border: 15px;
  padding: 20px;
  border-radius: 15px 50px;
    border-style: solid;
    background-color: rgba(106, 179, 188, 0.75);
    /* color: #00008B; */
}

.column_right h4 {
  font-size: 24px;
  color: rgba(35, 81, 87);
  line-height: 2.3;
  border: 0px;
  padding: 20px;
  border-radius: 50px 50px;
  border-style: solid;
  background-color: rgba(216, 241, 240, 0.75);
}

.column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .hero_section {
    padding: 30px;
  }

  .hero_wrapper {
    grid-template-columns: 1fr;
  }

  .column_left h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 468px) {
  .hero_wrapper {
    grid-template-rows: 600px;
  }

  .column_left h1 {
    font-size: 32px;
  }
}

/* About Section */
.main_section{
    padding: 60px 60px;
    background: linear-gradient( #f2f3f4 5%, #F0F8FF 15%, #4B9CD3 50%,  #000851 100%);
    color: blue;

}

.main_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main_container h1 {
    font-size: 110px;
    color: darkcyan;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darkslateblue;
    margin-top: 32px;

}

.main_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}

.main_text{
    padding-right: 20px;
}

.main_text h2 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.main_text p {
    line-height: 2.3;
}

.main_image{
    display: flex;
    justify-content: center;
}

.main_img{ 
    width:410px;
    height:475px;
    border-radius: 75%;
    
}


/* Media Queries for About Section */

@media screen and (max-width: 1000px) {
    main_section{
        padding: 30px;
    }
    .main_content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main_image{
        margin-top: 40px;
    }

    .main_container h1{
        font-size: 70px;
    }
}

@media screen and (max-width: 468px) {
    .main_text h2{
        font-size: 32px;
    }

    .main_img{
        width:100%;
        height:100%
    }
}

/* Projects Styling */

.projects{
    background:rgb(18, 91, 175);
    color: white;
    position: relative;
}

.projects_container{
    background: royalblue;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.projects_grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px;
}

.projects_container h1{
    font-size: 50px;
}

.projects_left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}

.project_img {
    height: 120px;
}

.projects_content {
    display: flex;
    align-items: flex-start;
}

.projects_content img {
    margin-right: 50px;
}

.projects_description h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.projects_description p {
    line-height: 2;
}

.yellow_bar {
    position: absolute;
    background: yellow;
    height: 80px;
    bottom: -40px;
    right: 0;
    width: 80%;
    color: darkturquoise;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Projects Media Queries */

@media screen and (max-width: 768px) {
    .projects_grid {
        grid-template-columns: 1fr;
    }
}
    
@media screen and (max-width: 468px) {
    .projects_container{
        padding-top: 100px;
        padding-bottom: 160px;
        padding-left: 16px;
    }
.projects_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 900px;
}
.projects_container h1 {
    text-align: center;
    margin-bottom: 170px
}

.projects_left{
    padding: 0 24px;
}

.projects_content{
    margin-top: 40px;
}

.projects_content img {
    margin-right: 16px;
}
}

/* Portfolio Styling */

.portfolio {
    background: rgb(7, 38, 88);
    color: white;
}

.portfolio_container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}
    
.portfolio_container h1 {
    font-size: 110px;
    color: darkcyan;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darkslateblue;
    margin-top: 32px;
}

.portfolio_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio_img {
    height: 100%;
    width:100%;
}

.portfolio_right {
    padding: 150px 100px 0 20px;
}

.portfolio_right h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.portfolio_right p {
    margin-bottom: 50px;
    line-height: 2.5;
}

.portfolio_right a {
    color: white;
    text-decoration: none;
}

.portfolio_projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 64px;
}

.portfolio_projects img {
    padding: 0 8px;
    width: 100%;
    height: 100%;
}

/* Portfolio Media Queries */
@media screen and (max-width: 1368px){
    .portfolio_projects {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio {
        padding: 30px;
    }

    .portfolio_container h1 {
        font-size: 70px
    }

    .portfolio_main {
        grid-template-columns: 1fr;
    }

    .portfolio_container {
        padding-left: 0px;
    }

    .portfolio_right{
        margin-bottom: 60px;
    }
}
/* Portfolio Section Media Queries */
@media screen  and (max-width: 1000px) {
    .portfolio {
        padding: 30px;
    }

    .portfolio_container h1 {
        font-size: 70px
    }

    .portfolio_main {
        grid-template-columns: 1fr;
    }

    .portfolio_container {
        padding-left: 0px;
    }

    .portfolio_right {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 468px) {
    .portfolio{
        padding: 10px;
    }
    
    .portfolio_container h1 {
        font-size: 40px;
    }
}

/* Contact Section Styling */

.contact {
    display: flex;
    align-items: center;
    background:rgb(7, 38, 88);
    padding: 100px 0;
}

.contact_bar {
    background: rgb(157, 241, 252);
    height: 80px;
    width: 68%;
    color:slateblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .contact_bar img {
        margin-right: 40px;
    }

    .contact_bar p {
        margin-right: 40px;
        font-weight: 700;
    }

    .contact_bar span {
        margin-right: 40px;
    }

    .contact h1 {
        margin-left: 100px;
        font-size: 40px;
        color: white;
    }

/* Contact Section Media Queries */
@media screen  and (max-width: 768px) {
    .contact {
        flex-direction: column;
    
    }

    .contact_bar {
        width: 100%;
        justify-content: center;

    }

    .contact_bar p {
        margin-right: 16px;
    }

    .contact_bar span {
        font-size: 16px;
    }

    .contact h1 {
        margin-left: 0;
        margin-top: 32px;
        font-size: 32px;
    }
}

/* Footer Styling */
.footer {
    background: steelblue;
    color:rgb(157, 241, 252);

}

.footer_container {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.footer_left h2 {
    margin-bottom: 24px;

}

.footer_left p {
    line-height: 2;
}

.footer_right {
    display:flex;
    justify-content: space-between;
    padding: 0 100px;
}

.footer_right a {
    color:seashell;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* Contact section styling */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.contact_container {
    width: 800px;
    background-color: rgb(48, 94, 91, .70);

}

.fcf-form-group {
    margin-bottom: 1.5em;
    padding: 10px;

}

.fcf-label {
    font-size: .75em;
    color:rgb(7, 38, 88);
    display: block;
    opacity: 1;
}

.fcf-form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: white;
    border-style: none none solid none;
    width: 100%;
    font-size: 1.25em;
    padding: 5px;
}

.form-control:focus {
    box-shadow: none;
    border-color: rgb(25, 228, 228);
    outline: none;
}

.fcf-btn {
    background:rgb(9, 9, 126);
    border: 1px solid darkcyan;
    border-radius: 3px;
    color: black;
    font-size: 1em;
    padding: 10px 50px;
    text-transform: uppercase;
}

.fcf-btn:hover {
    color:rgb(25, 228, 228);
    cursor: pointer;
    border-color: white;
}

textarea {
    resize: none;
}

placeholder {
    color:rgb(102, 12, 12);
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

.project_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
 
}


.project_container {
    width: 350px;
    height: 450px;
    z-index:999;
    padding: 10px 10px 10px 10px;
    
   
    top:0; right: 0; left: 0; bottom: 0;
    margin: auto;
    
    background: url("/images/FFA.png");
    background-color: black;
    background-size: 100%;
    cursor: pointer;
    
    -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
    }
  
    .overlay {
        width: 100%;
        height: 100%;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
        
        background: rgba(46, 45, 54, 0.9);
        color: rgb(243, 237, 237);
        opacity: 0;
        transition: all 0.5s;
        
        font-family: 'Playfair Display', serif;
      }

      .project_description {
        padding-left: 20px;
        letter-spacing: 3px;
      }

      .project_header {
          font-size: 30px;
          line-height: 20px;
          padding-bottom: 40px;
          margin-top: 2px;

          transform: translateY(40px);
          transition: all 0.7s;
      }

      .desc_1 {
            color: lighten(rgb(77, 77, 77),40%);
            padding-top: 15px;
            font-size: 25px;
      }

      .project_container:hover .overlay {
        opacity: 1;
      }

      .project_links {
          align-items: center;
          text-transform: uppercase;

      }

      #fa-icon {
          font-size: 20px;
      }

      .btn {
          width: 150px;
          height: 40px;
          background: rgb(2, 2, 83, .80);
          border-radius: 10px;
          color: white;
        
      }

      .btn:hover {
        color:rgb(25, 228, 228);
        cursor: pointer;
        border-color: white;
    }