*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero_image{
    background: url("images/background.png");
      /* Set a specific height */
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_section{
    padding: 0 60px;
    color: white;
    background-image: url("images/background.png");
    background-size: 1400px;
    /* background: cornflowerblue; */
}

h1{
    color: blue;
}