* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
    background: rgba(106, 179, 188, 0.8);
    color:rgb(11, 49, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;

}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;

}

.navLink {
    color: rgb(29, 26, 202);
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100px;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease;
}

.navLink:hover {
    color:rgb(25, 228, 228);
    
}



.navbar_container {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

@media screen and (max-width:960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
/* Dropdown Nav Menu Styling */
    .navbar_menu.active{
        background: rgb(9, 9, 126);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    .navbar_toggle .bar {
        width: 25px;
        height:3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(74, 19, 175);
    }

    .navbar_item {
        width: 100%;
    }

    .navLink {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%)
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
}

    

.logo {
    display: flex;
    height: 85px;
    width: 80px;
    padding-left: -50px;

}

.hero_section {
  padding: 0 60px;
  color: white;
  background: cornflowerblue;
  background-image: url("images/background.png");
  background-size: 1400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 820px;
}

.column_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.column_left h1 {
  font-size: 90px;
  color: rgb(18, 91, 175);
}

.column_left h4 {
  font-size: 24px;
  color: blueviolet;
  line-height: 2.3;
}

.column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .hero_section {
    padding: 30px;
  }

  .hero_wrapper {
    grid-template-columns: 1fr;
  }

  .column_left h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 468px) {
  .hero_wrapper {
    grid-template-rows: 600px;
  }

  .column_left h1 {
    font-size: 32px;
  }
}

/* About Section */
.main_section{
    padding: 60px 60px;
    background: linear-gradient( #f2f3f4 5%, #F0F8FF 15%, #4B9CD3 50%,  #000851 100%);
    color: blue;

}

.main_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main_container h1 {
    font-size: 110px;
    color: darkcyan;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darkslateblue;
    margin-top: 32px;

}

.main_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}

.main_text{
    padding-right: 20px;
}

.main_text h2 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.main_text p {
    line-height: 2.3;
}

.main_image{
    display: flex;
    justify-content: center;
}

.main_img{ 
    width:410px;
    height:475px;
    border-radius: 75%;
    
}


/* Media Queries for About Section */

@media screen and (max-width: 1000px) {
    main_section{
        padding: 30px;
    }
    .main_content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main_image{
        margin-top: 40px;
    }

    .main_container h1{
        font-size: 70px;
    }
}

@media screen and (max-width: 468px) {
    .main_text h2{
        font-size: 32px;
    }

    .main_img{
        width:100%;
        height:100%
    }
}

/* Projects Styling */

.projects{
    background:rgb(18, 91, 175);
    color: white;
    position: relative;
}

.projects_container{
    background: royalblue;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.projects_grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px;
}

.projects_container h1{
    font-size: 50px;
}

.projects_left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}

.project_img {
    height: 120px;
}

.projects_content {
    display: flex;
    align-items: flex-start;
}

.projects_content img {
    margin-right: 50px;
}

.projects_description h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.projects_description p {
    line-height: 2;
}

.yellow_bar {
    position: absolute;
    background: yellow;
    height: 80px;
    bottom: -40px;
    right: 0;
    width: 80%;
    color: darkturquoise;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Projects Media Queries */

@media screen and (max-width: 768px) {
    .projects_grid {
        grid-template-columns: 1fr;
    }
}
    
@media screen and (max-width: 468px) {
    .projects_container{
        padding-top: 100px;
        padding-bottom: 160px;
        padding-left: 16px;
    }
.projects_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 900px;
}
.projects_container h1 {
    text-align: center;
    margin-bottom: 170px
}

.projects_left{
    padding: 0 24px;
}

.projects_content{
    margin-top: 40px;
}

.projects_content img {
    margin-right: 16px;
}
}

/* Portfolio Styling */

.portfolio {
    background: rgb(7, 38, 88);
    color: white;
}

.portfolio_container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}
    
.portfolio_container h1 {
    font-size: 110px;
    color: darkcyan;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darkslateblue;
    margin-top: 32px;
}

.portfolio_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio_img {
    height: 100%;
    width:100%;
}

.portfolio_right {
    padding: 150px 100px 0 20px;
}

.portfolio_right h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

.portfolio_right p {
    margin-bottom: 50px;
    line-height: 2.5;
}

.portfolio_right a {
    color: white;
    text-decoration: none;
}

.portfolio_projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 64px;
}

.portfolio_projects img {
    padding: 0 8px;
    width: 100%;
    height: 100%;
}

/* Portfolio Media Queries */
@media screen and (max-width: 1368px){
    .portfolio_projects {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio {
        padding: 30px;
    }

    .portfolio_container h1 {
        font-size: 70px
    }

    .portfolio_main {
        grid-template-columns: 1fr;
    }

    .portfolio_container {
        padding-left: 0px;
    }

    .portfolio_right{
        margin-bottom: 60px;
    }
}
/* Portfolio Section Media Queries */
@media screen  and (max-width: 1000px) {
    .portfolio {
        padding: 30px;
    }

    .portfolio_container h1 {
        font-size: 70px
    }

    .portfolio_main {
        grid-template-columns: 1fr;
    }

    .portfolio_container {
        padding-left: 0px;
    }

    .portfolio_right {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 468px) {
    .portfolio{
        padding: 10px;
    }
    
    .portfolio_container h1 {
        font-size: 40px;
    }
}

/* Contact Section Styling */

.contact {
    display: flex;
    align-items: center;
    background:rgb(7, 38, 88);
    padding: 100px 0;
}

.contact_bar {
    background: rgb(157, 241, 252);
    height: 80px;
    width: 68%;
    color:slateblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .contact_bar img {
        margin-right: 40px;
    }

    .contact_bar p {
        margin-right: 40px;
        font-weight: 700;
    }

    .contact_bar span {
        margin-right: 40px;
    }

    .contact h1 {
        margin-left: 100px;
        font-size: 40px;
        color: white;
    }

/* Contact Section Media Queries */
@media screen  and (max-width: 768px) {
    .contact {
        flex-direction: column;
    
    }

    .contact_bar {
        width: 100%;
        justify-content: center;

    }

    .contact_bar p {
        margin-right: 16px;
    }

    .contact_bar span {
        font-size: 16px;
    }

    .contact h1 {
        margin-left: 0;
        margin-top: 32px;
        font-size: 32px;
    }
}

/* Footer Styling */
.footer {
    background: steelblue;
    color:rgb(157, 241, 252);

}

.footer_container {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.footer_left h2 {
    margin-bottom: 24px;

}

.footer_left p {
    line-height: 2;
}

.footer_right {
    display:flex;
    justify-content: space-between;
    padding: 0 100px;
}

.footer_right a {
    color:seashell;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}



